.button {
    height: 100%;
    width: 25%;
    background-color: #E0E0E0;
    cursor: pointer;
    p {
        font-size: 10vh;
        line-height: 16vh;
        text-align: center;
        margin: 0;
    }
}